
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: auto;
    width: auto;
}

.section_container{
    float: right;
    display: flex;
    width: 80%;
}

.section_gestions{
    display: flex;
    width: 15%;
    float: left;
    padding-top: 2%;
}

.container-custom {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #343a40;
    font-weight: bold;
}

.btn-primary, .btn-secondary, .btn-danger {
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #0d6efd;
    opacity: 0.85;
}

.btn-secondary:hover {
    background-color: #6c757d;
    opacity: 0.85;
}

.btn-danger:hover {
    background-color: #dc3545;
    opacity: 0.85;
}

table th {
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

table td {
    text-align: center;
    vertical-align: middle;
}

.header-btn {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.information_gestion{
    justify-content: left;
}

.header-btn a {
    width: 200px;
    font-weight: bold;
}