<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>hebergement_carhos</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">   <!-- pour otenir un css par défaut-->
</head>

<body>
<div class="contenair">

<h2>Gestion des hébergements </h2><br>

<a href="/hebergementCarhos/nouveau" class="btn btn-primary">Add accomodation</a><br>


 <table class="table nt-3">
    <thead>
      <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Image</th>
          <th>Nombre Etoile</th>
          <th>Actions</th>
      </tr>
    </thead>

     <tbody>
        <tr th:each="hebergementCarhos, status:${hebergementsCarhos}">                <!--bourcle thymleay, qui parcour une liste d'object et affiche dynamiquement le contenu-->

            <td th:text="${status.count}"></td>
            <td th:text="${hebergementCarhos.nom}"></td>
            <td th:text="${hebergementCarhos.prix}"></td>

            <td th:text="${hebergementCarhos.image}"></td>
            <td th:text="${hebergementCarhos.nombreEtoile}"></td>

            <td>
                <a th:href="@{/hebergementCarhos/détail/{id}(id=${hebergementCarhos.id})}" class="btn btn-secondary">Détail</a>
                <a th:href="@{/hebergementCarhos/edit/{id}(id=${hebergementCarhos.id})}" class="btn btn-primary">Modifier</a>
                <a th:href="@{/hebergementCarhos/delete/{id}(id=${hebergementCarhos.id})}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
     </tbody>
 </table>

</div>
</body>
</html>
