<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>infos_plus</title>

</head>
<body>
<header th:insert="~{header_carhos::en_tete}"></header>

<h1 th:text="${hebergementCarhos.nom}"></h1>
<img th:src="@{'/images_upload/' + ${hebergementCarhos.image}}" alt="Image">
<p>Prix: <span th:text="${hebergementCarhos.prix}"></span></p>
<!--<p>Description: <span th:text="${hebergementCarhos.description}"></span></p>-->


<footer th:insert="~{footer_carhos::footer}"></footer>


</body>
</html>