<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire_Hébergement_Booki</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h2>Ajouter un Hébergement</h2>
    <form th:action="@{/HebergementCarhos}" th:object="${HebergementCarhos}" method="post">

        <div class="mb-3">
            <label for="hebergementBookiType" class="form-label">Type d'Hébergement</label>
            <select class="form-select" id="hebergementBookiType" th:field="*{hebergementBookiType}" required>
                <option value="" disabled> Sélectionnez votre tpes d'hébergement</option>
                <option th:each="type : ${type}" th:value="${type}" th:text="${type}">Type</option> <!-- accèdes et recupére toute les valeurs possible-->
            </select>
            <div th:if="${#fields.hasErrors('HebergementBookiModel')}" th:errors="*{hebergementBookiType}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="localisation" class="form-label">Localisation</label>
            <input type="text" class="form-control" id="localisation" th:field="*{localisation}" required>
            <div th:if="${#fields.hasErrors('localisation')}" th:errors="*{localisation}" class="text-danger"></div>     <!-- le message d'erreurs écrit dans le Model sera renvoiyer à la vue en cas d'erreur -->
        </div>

        <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" th:field="*{nom}" required>
            <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="standing" class="form-label">Standing</label>
            <input type="text" class="form-control" id="standing" th:field="*{standing}" required>
            <div th:if="${#fields.hasErrors('standing')}" th:errors="*{standing}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="etat" class="form-label">État</label>
            <input type="text" class="form-control" id="etat" th:field="*{etat}" required>
            <div th:if="${#fields.hasErrors('etat')}" th:errors="*{etat}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="tarif" class="form-label">Tarif</label>
            <input type="number" class="form-control" id="tarif" th:field="*{tarif}" min="1" required>
            <div th:if="${#fields.hasErrors('tarif')}" th:errors="*{tarif}" class="text-danger"></div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="/" class="btn btn-secondary">Retour à l'accueil</a>
    </form>
</div>

</body>
</html>
