<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/booking.css}">
    <title>footer_carhos</title>
</head>
<body>

<div class="foot" th:fragment="footer">

    <article>
        <div class="col1">
            <h3>A propos</h3><br>
            <p>
                Fonctionnement du site<br>
                Conditions gérérales de ventes<br>
                Données et confidentialité
            </p>
        </div>
    </article>


    <article>
        <div class="col2">
            <h3>Nos hébergements</h3><br>
            <p>
                Chartes qualités <br>
                Soumettre votre hôtel
            </p>
        </div>
    </article>

    <article>
        <div class="col3">
            <h3>Assitance</h3><br>
            <p>
                Centre d'aide<br>
                Nous contacter
            </p>
        </div>
    </article>

</div>

</body>
</html>