<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire_hébergement_carhos </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/carhos.css}">
    <link rel="stylesheet" th:href="@{/css/style_formulaire_hebergement_carhos.css}">
</head>
<body>

<!-- en-tete-de-la-page -->
<header th:insert="header_carhos::en_tete">
</header>

<div class="form-container">
    <h2 th:text="${hebergementCarhos.id} != null ? 'Modifier l\'Hébergement' : 'Ajouter un Hébergement'"></h2>
    <form th:action="@{/hebergementCarhos}" th:object="${hebergementCarhos}" method="post" enctype="multipart/form-data">


        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label for="nom" class="form-label">Nom de l'hébergement</label>
            <input type="text" class="form-control" id="nom" th:field="*{nom}" required>
            <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="prix" class="form-label">Prix de l'hébergement</label>
            <input type="number" class="form-control" id="prix" th:field="*{prix}" min="20" required>
            <div th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image de l'hébergement</label>
            <input type="file" name="imageFile" class="form-control" id="image">
            <small class="form-text text-muted">Laissez vide si vous ne souhaitez pas changer l'image.</small>
        </div>

        <div class="mb-3">
            <label for="nbreEtoile" class="form-label">Nombre d'Etoile</label>
            <input type="number" class="form-control" id="nbreEtoile" th:field="*{nbreEtoile}" min="1" max="5" required>
            <div th:if="${#fields.hasErrors('nbreEtoile')}" th:errors="*{nbreEtoile}" class="text-danger"></div>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary"
                    th:text="${hebergementCarhos.id} != null ? 'Mettre à jour' : 'Enregistrer'"></button>
            <a href="/" class="btn btn-secondary">Retour à l'accueil</a>
        </div>
    </form>
</div>

    <!--------------------- pied-de-page -------------------->

    <footer th:insert="footer_carhos::footer">

    </footer>

</body>
</html>
