<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire_hébergement_carhos </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/carhos.css}">
    <link rel="stylesheet" th:href="@{/css/style_formulaire_hebergement_carhos.css}">
</head>
<body>

<!-- en-tete-de-la-page -->
<header th:insert="header_carhos::en_tete">
</header>

<div class="form-container">
    <h2 th:text="${hebergementCarhos.id} != null ? 'Modifier l\'Hébergement' : 'Ajouter un Hébergement'"></h2>
    <form th:action="@{/hebergement_carhos}" th:object="${hebergementCarhos}" method="post" enctype="multipart/form-data">


        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label for="hebergementCarhosType" class="form-label">Classe de l'hébergement <span class="obligation">*</span> </label>
            <select class="form-select" id="hebergementCarhosType" th:field="*{hebergementCarhosType}" required>
                <option value="" disabled> Sélectionnez la classe de votre hébergement</option>
                <option th:each="type : ${type}" th:value="${type}" th:text="${type}">Type</option>
            </select>
            <div th:if="${#fields.hasErrors('hebergementCarhosType')}" th:errors="*{hebergementCarhosType}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="nom" class="form-label">Nom de l'hébergement  <span class="obligation">*</span> </label>
            <input type="text" class="form-control" id="nom" th:field="*{nom}" required>
            <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="prix" class="form-label">Prix de l'hébergement  <span class="obligation">*</span> </label>
            <input type="number" class="form-control" id="prix" th:field="*{prix}" min="10" required>
            <div th:if="${#fields.hasErrors('prix')}" th:errors="*{prix}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image de l'hébergement  <span class="obligation">*</span></label>
            <input type="file" name="fichier_image" class="form-control" id="image">
            <small class="form-text text-muted">Laissez vide si vous ne souhaitez pas changer l'image.</small>
        </div>

        <div class="mb-3">
            <label for="nbreEtoile" class="form-label">Nombre d'Etoile  <span class="obligation">*</span></label>
            <input type="number" class="form-control" id="nbreEtoile" th:field="*{nbreEtoile}" min="1" max="5" required>
            <div th:if="${#fields.hasErrors('nbreEtoile')}" th:errors="*{nbreEtoile}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="atouts" class="form-label">Atouts de l'hébergement</label>
            <textarea  rows="4" cols="20" class="form-control" id="atouts" th:field="*{atouts}"
                       placeholder="Exples :
                                   - Deux Lit
                                   - Parking
                                   - Douche italienne"
                       required>
            </textarea>
            <div th:if="${#fields.hasErrors('atouts')}" th:errors="*{atouts}" class="text-danger"></div>
        </div>

        <div class="mb-3">
            <label for="detail" class="form-label">Détail de l'hébergement  <span class="obligation">*</span></label>
            <textarea  rows="4" cols="20" class="form-control" id="detail" th:field="*{detail}" required></textarea>
            <div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" class="text-danger"></div>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary"
                    th:text="${hebergementCarhos.id} != null ? 'Mettre à jour' : 'Enregistrer'"></button>
            <a href="/" class="btn btn-secondary">Retour à l'accueil</a>
        </div>
    </form>
</div>

    <!--------------------- pied-de-page -------------------->

    <footer th:insert="footer_carhos::footer">

    </footer>

</body>
</html>
