<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/booking.css}">

    <title>header_carhos</title>
</head>
<body>

<div class="div__header" th:fragment="en_tete">

    <!-- logo du projet -->
    <div class="div__logo">
        <img th:src="@{/images/images relatives aux hébergements/logo du projet/Booki.png}" alt="logo projet booki">
    </div>

    <!-- liens-de-navigation -->
    <div class="div__navigation">
        <nav>
            <ul>
                <div class="div__navigation--liens"> <li> <a href="#héberg" >Hébergements</a>  </li> </div>
                <div class="div__navigation--liens"> <li> <a href="#actif">Activités</a>  </li> </div>
            </ul>
        </nav>
    </div>

</div>

</body>
</html>