<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
    <link rel="stylesheet" th:href="@{/css/carhos.css}">
    <meta charset="UTF-8">
    <title>header_carhos</title>
</head>
<body>

<div class="div__header" th:fragment="en_tete">

    <!-- logo du projet -->
    <div class="div__logo">
        <a th:href="@{/index}">
        <img th:src="@{/images/images relatives aux hébergements/logo du projet/Booki.png}" alt="logo projet booki">
        </a>
    </div>

    <!-- liens-de-navigation -->
    <div class="div__navigation">
        <nav>
            <ul>
                <div class="div__navigation--liens"> <li> <a href="#héberg" >Hébergements</a>  </li> </div>
                <div class="div__navigation--liens"> <li> <a href="#actif">Activités</a>  </li> </div>
                <div class="div__navigation--liens"> <li> <a th:href="@{/daschboard_carhos}">Dashboard</a>  </li> </div>
            </ul>
        </nav>
    </div>

</div>

</body>
</html>