<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/carhos.css}">
    <title>carhos_accueil</title>
</head>
<body>

  <!-- en-tete-de-la-page -->
    <header th:insert="~{header_carhos::en_tete}">

    </header>

<!------- corps de-la-page -->
    <main>
        <!--------------section-du-préambule ------------->
        <section class="besoins">
            <div class="div__besoins" >

                <h1>Trouver votre hébergement pour des vacances de revê</h1><br>
                <p>En plein centre ville ou en pleine nature</p> <br>

                <!-- barre-de-recherche -->
                <form th:action="@{/}" method="get" class="div__barre-de-recherche">

                    <div class="pointeur">
                        <i class="fa fa-map-marker icone-pointeur"></i>
                    </div>

                    <div class="adresse">
                        <input
                                type="text"
                                name="keyword"
                                th:value="${keyword}"
                                placeholder="Marseille, France"
                                class="saisie-adresse">
                    </div>

                    <div class="recherche">
                        <button type="submit" class="saisie-recherche">Recherche</button>
                    </div>
                </form>

                <br><br>

                <!-- zone-des-filtres -->
                <div class="filtre">

                    <div class="presentation__type">
                        <p class="presentation__types--filtres">Filtres</p>
                    </div>



                        <div class="types__filtres">
                            <div class="representation__visuelle">
                                <i class="fa fa-usd icone--filtre"></i>
                            </div>
                            <a th:href="@{/(filtre='ECONOMIE')}"
                               class="categories--filtres"
                               th:classappend="${filtreActif == T(com.hebergement.booki.model.HebergementCarhosSpecificite).ECONOMIE} ? 'actif' : ''">
                                <p class="categories--filtres"><pre>  Economique  </pre></p>
                            </a>
                        </div>

                        <div class="types__filtres">
                            <div class="representation__visuelle">
                                <i class="fa fa-child icone--filtre"></i>
                            </div>
                            <a th:href="@{/(filtre='FAMILIAL')}"
                               class="categories--filtres"
                               th:classappend="${filtreActif == T(com.hebergement.booki.model.HebergementCarhosSpecificite).FAMILIAL} ? 'actif' : ''">
                                <p class="categories--filtres"><pre>  Familial  </pre></p>
                            </a>
                        </div>

                        <div class="types__filtres">
                            <div class="representation__visuelle">
                                <i class="fa fa-heart icone--filtre"></i>
                            </div>
                            <a th:href="@{/(filtre='ROMANTIQUE')}"
                               class="categories--filtres"
                               th:classappend="${filtreActif == T(com.hebergement.booki.model.HebergementCarhosSpecificite).ROMANTIQUE} ? 'categories--filtres' : ''">
                                <p><pre>  Romantique  </pre></p>
                            </a>
                        </div>

                        <div class="types__filtres">
                            <div class="representation__visuelle">
                                <i class="fa fa-paw icone--filtre"></i>
                            </div>
                            <a th:href="@{/(filtre='ANIMAUX_AUTORISES')}"
                               class="categories--filtres"
                               th:classappend="${filtreActif == T(com.hebergement.booki.model.HebergementCarhosSpecificite).ANIMAUX_AUTORISES} ? 'actif' : ''">
                                <p class="categories--filtres"><pre>  Animaux autorisés  </pre></p>
                            </a>
                        </div>
                    </div>

                    <br><br>

                <div class="pub">
                    <div class="div__icone--info">
                        <i class="fa fa-info icone__info"></i>
                    </div>
                    <p class="publicite">Plus de 500 logements sont disponibles dans cette ville</p>
                </div>

            </div>
        </section>

        <!-------------- Section-principale-des-hébergements -------------->

        <section class="section__principale--hebergement" id="héberg">
            <div class="div__principale--hebergement">

                <!-- hebergements-de-la-gauche -->
                <section class="section__hebergement--gauche">
                    <div class="div__hebergement--gauche">

                        <h3>Hébergements à Marseille</h3>

                        <!-- Boucle sur les 6 hébergements de gauche -->
                        <a th:each="hebergementCarhos : ${gauche}"
                           th:href="@{/hebergement-carhos/détail/{id}(id=${hebergementCarhos.id})}">
                            <article class="article_hebergement-gauche">
                                <div class="div-article_hebergement-gauche">
                                    <div class="d-imag">
                                        <img th:src="@{'/images_upload/' + ${hebergementCarhos.image}}" class="imag" alt="hébergement carhos"/>
                                    </div>
                                    <div class="d-info">
                                        <h3 th:text="${hebergementCarhos.nom}"></h3>
                                        <p class="p-info">Nuit à partir de <span th:text="${hebergementCarhos.prix}"></span><i class="fa fa-eur"></i></p>
                                        <div class="d-inf">
                            <span th:each="etoile : ${#numbers.sequence(1, 5)}">
                                <i class="fa fa-star" th:classappend="${etoile <= hebergementCarhos.nbreEtoile} ? 'et' : 'et-c'"></i>
                            </span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </a>

                        <div class="pagination">
            <span th:if="${currentPageGauche > 0}">
                <a th:href="@{/(pageGauche=${currentPageGauche - 1}, pageDroite=${currentPageDroite}, keyword=${keyword})}">Précédent</a>
            </span>

                            <span th:each="i : ${#numbers.sequence(0, totalPagesGauche - 1)}">
                <a th:href="@{/(pageGauche=${i}, pageDroite=${currentPageDroite}, keyword=${keyword})}"
                   th:text="${i + 1}"
                   th:class="${i == currentPageGauche} ? 'active' : ''"></a>
            </span>

                            <span th:if="${currentPageGauche < totalPagesGauche - 1}">
                <a th:href="@{/(pageGauche=${currentPageGauche + 1}, pageDroite=${currentPageDroite}, keyword=${keyword})}">Suivant</a>
            </span>
                        </div>

                        <h3>Afficher plus</h3><br>

                    </div>
                </section>

                <!-- section-des-hébergements-de-la-droite -->
                <section class="section_hebergement--droite">
                    <div class="div_hebergement--droite" >

                        <h3>Le haut Standing <i class="fa fa-star eu"></i></h3>

                        <!-- Boucle sur les 3 hébergements de droite -->
                        <a th:each="hebergementCarhos : ${droite}"
                           th:href="@{/hebergement-carhos/détail/{id}(id=${hebergementCarhos.id})}">
                            <article class="ahd">
                                <div class="d-ahd">
                                    <div class="d-imad">
                                        <img th:src="@{'/images_upload/' + ${hebergementCarhos.image}}" alt="hôtel cinq étoiles carhos" class="imad"/>
                                    </div>
                                    <div class="d-infod">
                                        <h3 th:text="${hebergementCarhos.nom}"></h3>
                                        <p class="p-infd">Nuit à partir de <span th:text="${hebergementCarhos.prix}"></span><i class="fa fa-eur"></i></p>
                                        <div class="d-infd">
                            <span th:each="etoile : ${#numbers.sequence(1, 5)}">
                                <i class="fa fa-star" th:classappend="${etoile <= hebergementCarhos.nbreEtoile} ? 'et' : 'et-c'"></i>
                            </span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </a>

                        <div class="pagination">
            <span th:if="${currentPageDroite > 0}">
                <a th:href="@{/(pageGauche=${currentPageGauche}, pageDroite=${currentPageDroite - 1}, keyword=${keyword})}">Précédent</a>
            </span>

                            <span th:each="i : ${#numbers.sequence(0, totalPagesDroite - 1)}">
                <a th:href="@{/(pageGauche=${currentPageGauche}, pageDroite=${i}, keyword=${keyword})}"
                   th:text="${i + 1}"
                   th:class="${i == currentPageDroite} ? 'active' : ''"></a>
            </span>

                            <span th:if="${currentPageDroite < totalPagesDroite - 1}">
                <a th:href="@{/(pageGauche=${currentPageGauche}, pageDroite=${currentPageDroite + 1}, keyword=${keyword})}">Suivant</a>
            </span>
                        </div>

                        <br>
                    </div>
                </section>

            </div>
        </section>

        <!------------- Section principale des activités ------------->
        <section class="sp-am" id="actif">
            <div class="dp-am">

                <div class="accueil_activite-marseil">
                    <h3>Activités à Marseille</h3>
                </div>

                <div class="conteneur-avitivite-marseil">

                    <article class="ar-am">
                        <a href="">
                            <div class="di-am">
                                <div class="d-imam">
                                    <img th:src="@{/images/images relatives aux hébergements/images des cites et activites des hébergements/paysages/A1.jpg}" alt="vieux port" class="iam"/>
                                </div>
                                <div class="Détail">
                                    <h3>Vieux port</h3>
                                </div>
                            </div>
                        </a>
                    </article>

                    <article class="ar-am">
                        <div class="di-ams">

                            <a href="">
                                <div class="ds-ams">
                                    <div class="d-imams">
                                        <img th:src="@{/images/images relatives aux hébergements/images des cites et activites des hébergements/paysages/A2.jpg}" alt="Fort de Pomègues" class="iams"/>
                                    </div>
                                    <div class="Détails">
                                        <h3>Fort de Pomègues</h3>
                                    </div>
                                </div>
                            </a>


                            <a href="">
                                <div class="ds-ams">
                                    <div class="d-imams">
                                        <img th:src="@{/images/images relatives aux hébergements/images des cites et activites des hébergements/paysages/A3.jpg}" alt="îles du frioul" class="iams"/>
                                    </div>
                                    <div class="Détails">
                                        <h3>Îles du Frioul</h3>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </article>

                    <article class="ar-am">
                        <a href="">
                            <div class="di-am">
                                <div class="d-imam">
                                    <img th:src="@{/images/images relatives aux hébergements/images des cites et activites des hébergements/paysages/A4.jpg}" alt="vieux port" class="iam"/>
                                </div>
                                <div class="Détail">
                                    <h3>Parc National des Calanques</h3>
                                </div>
                            </div>
                        </a>
                    </article>


                    <article class="ar-am">
                        <div class="di-ams">
                            <a href="">
                                <div class="ds-ams">
                                    <div class="d-imams">
                                        <img th:src="@{/images/images relatives aux hébergements/images des cites et activites des hébergements/paysages/A5.jpg}" alt="Notre-dame-de-la-garde" class="iams"/>
                                    </div>
                                    <div class="Détails">
                                        <h3>Notre-Dames-de-la-Garde</h3>
                                    </div>
                                </div>
                            </a>

                            <a href="">
                                <div class="ds-ams">
                                    <div class="d-imams">
                                        <img th:src="@{/images/images relatives aux hébergements/images des cites et activites des hébergements/paysages/A6.jpg}" alt="parc longchamp" class="iams"/>
                                    </div>
                                    <div class="Détails">
                                        <h3>Parc Longchamp</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                </div>

            </div>
        </section>

    </main>

      <!--------------------- pied-de-page -------------------->

    <footer th:insert="~{footer_carhos::footer}">
    </footer>

</body>
</html>